<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Google Maps - pygmaps </title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false&key=AIzaSyBxhQschyIWYAi9Yu3_vW-Wwb2YgK3dWO4"></script>
<script type="text/javascript">
	function initialize() {
		var centerlatlng = new google.maps.LatLng(42.374194, -71.054884);
		var myOptions = {
			zoom: 16,
			center: centerlatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		var latlng = new google.maps.LatLng(42.368285, -71.042529);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.363489, -71.041139);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.363112, -71.037663);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.355138, -71.036785);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.356187, -71.043370);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.357382, -71.045476);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.360885, -71.047990);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.362409, -71.055538);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.361440, -71.048795);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.370858, -71.048795);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.373949, -71.049530);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.373949, -71.057997);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.378557, -71.060383);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.372492, -71.059835);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.379601, -71.059835);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.379776, -71.060662);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.377493, -71.060353);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.376495, -71.058263);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.374164, -71.058159);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.372229, -71.056462);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.371760, -71.055197);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.379476, -71.055197);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.375042, -71.054353);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.369573, -71.053682);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.374933, -71.054604);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.375497, -71.060977);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.375497, -71.065984);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.368186, -71.065332);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.370475, -71.066135);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.379711, -71.066135);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.380102, -71.067239);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

var PolylineCoordinates = [
new google.maps.LatLng(42.368285, -71.042529),
new google.maps.LatLng(42.363489, -71.041139),
new google.maps.LatLng(42.363112, -71.037663),
new google.maps.LatLng(42.355138, -71.036785),
new google.maps.LatLng(42.356187, -71.043370),
new google.maps.LatLng(42.357382, -71.045476),
new google.maps.LatLng(42.360885, -71.047990),
new google.maps.LatLng(42.362409, -71.055538),
new google.maps.LatLng(42.361440, -71.048795),
new google.maps.LatLng(42.370858, -71.048795),
new google.maps.LatLng(42.373949, -71.049530),
new google.maps.LatLng(42.373949, -71.057997),
new google.maps.LatLng(42.378557, -71.060383),
new google.maps.LatLng(42.372492, -71.059835),
new google.maps.LatLng(42.379601, -71.059835),
new google.maps.LatLng(42.379776, -71.060662),
new google.maps.LatLng(42.377493, -71.060353),
new google.maps.LatLng(42.376495, -71.058263),
new google.maps.LatLng(42.374164, -71.058159),
new google.maps.LatLng(42.372229, -71.056462),
new google.maps.LatLng(42.371760, -71.055197),
new google.maps.LatLng(42.379476, -71.055197),
new google.maps.LatLng(42.375042, -71.054353),
new google.maps.LatLng(42.369573, -71.053682),
new google.maps.LatLng(42.374933, -71.054604),
new google.maps.LatLng(42.375497, -71.060977),
new google.maps.LatLng(42.375497, -71.065984),
new google.maps.LatLng(42.368186, -71.065332),
new google.maps.LatLng(42.370475, -71.066135),
new google.maps.LatLng(42.379711, -71.066135),
new google.maps.LatLng(42.380102, -71.067239),
];

var Path = new google.maps.Polyline({
clickable: false,
geodesic: true,
path: PolylineCoordinates,
strokeColor: "#4dcbcc",
strokeOpacity: 1.000000,
strokeWeight: 3
});

Path.setMap(map);


	}
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
	<div id="map_canvas" style="width: 100%; height: 100%;"></div>
</body>
</html>
