<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Google Maps - pygmaps </title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false&key=AIzaSyBxhQschyIWYAi9Yu3_vW-Wwb2YgK3dWO4"></script>
<script type="text/javascript">
	function initialize() {
		var centerlatlng = new google.maps.LatLng(42.361228, -71.092951);
		var myOptions = {
			zoom: 22,
			center: centerlatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		var latlng = new google.maps.LatLng(42.361213, -71.091983);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.361259, -71.092435);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.361442, -71.092473);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.361695, -71.092855);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.361478, -71.092339);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.361688, -71.092905);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.361688, -71.093827);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.361646, -71.093188);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.360981, -71.093119);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.360717, -71.092849);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.361069, -71.092849);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.361196, -71.093308);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.361304, -71.093425);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.361599, -71.093645);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.361442, -71.093603);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.361194, -71.093185);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.361244, -71.093919);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.361200, -71.093634);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.360970, -71.093484);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.361120, -71.093526);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.360647, -71.093461);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

var PolylineCoordinates = [
new google.maps.LatLng(42.361213, -71.091983),
new google.maps.LatLng(42.361259, -71.092435),
new google.maps.LatLng(42.361442, -71.092473),
new google.maps.LatLng(42.361695, -71.092855),
new google.maps.LatLng(42.361478, -71.092339),
new google.maps.LatLng(42.361688, -71.092905),
new google.maps.LatLng(42.361688, -71.093827),
new google.maps.LatLng(42.361646, -71.093188),
new google.maps.LatLng(42.360981, -71.093119),
new google.maps.LatLng(42.360717, -71.092849),
new google.maps.LatLng(42.361069, -71.092849),
new google.maps.LatLng(42.361196, -71.093308),
new google.maps.LatLng(42.361304, -71.093425),
new google.maps.LatLng(42.361599, -71.093645),
new google.maps.LatLng(42.361442, -71.093603),
new google.maps.LatLng(42.361194, -71.093185),
new google.maps.LatLng(42.361244, -71.093919),
new google.maps.LatLng(42.361200, -71.093634),
new google.maps.LatLng(42.360970, -71.093484),
new google.maps.LatLng(42.361120, -71.093526),
new google.maps.LatLng(42.360647, -71.093461),
];

var Path = new google.maps.Polyline({
clickable: false,
geodesic: true,
path: PolylineCoordinates,
strokeColor: "#4dcbcc",
strokeOpacity: 1.000000,
strokeWeight: 3
});

Path.setMap(map);


	}
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
	<div id="map_canvas" style="width: 100%; height: 100%;"></div>
</body>
</html>
