<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Google Maps - pygmaps </title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false&key=AIzaSyBxhQschyIWYAi9Yu3_vW-Wwb2YgK3dWO4"></script>
<script type="text/javascript">
	function initialize() {
		var centerlatlng = new google.maps.LatLng(42.360081, -71.058884);
		var myOptions = {
			zoom: 10,
			center: centerlatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		var latlng = new google.maps.LatLng(42.360081, -71.058884);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.402395, -70.891398);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.531396, -70.875863);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.800922, -70.459615);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.555263, -70.452555);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.530177, -70.613303);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.870619, -70.995623);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.624124, -69.761758);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(43.415495, -70.065500);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.921206, -70.027551);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.721520, -69.503936);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.692074, -70.474809);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.463952, -69.167123);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(44.148517, -70.130095);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(44.664399, -70.814187);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(44.632812, -68.469628);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(43.815982, -70.073820);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(43.453477, -70.081768);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.884777, -69.580767);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(45.705212, -67.338463);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.360081, -71.058884);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.366198, -71.056840);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.364608, -71.042588);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.362408, -71.055148);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.383674, -71.056116);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.377630, -71.036481);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.366305, -71.037726);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.376720, -71.004306);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.390766, -70.983144);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.401128, -71.045844);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.364384, -70.978072);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.464482, -70.950773);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.403375, -71.029528);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.442448, -70.968914);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.429502, -71.052421);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.455871, -71.010280);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.447879, -71.052176);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.508638, -70.985061);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.409197, -70.985441);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.395473, -71.043404);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

var PolylineCoordinates = [
new google.maps.LatLng(42.360081, -71.058884),
new google.maps.LatLng(42.402395, -70.891398),
new google.maps.LatLng(42.531396, -70.875863),
new google.maps.LatLng(42.800922, -70.459615),
new google.maps.LatLng(42.555263, -70.452555),
new google.maps.LatLng(42.530177, -70.613303),
new google.maps.LatLng(42.870619, -70.995623),
new google.maps.LatLng(42.624124, -69.761758),
new google.maps.LatLng(43.415495, -70.065500),
new google.maps.LatLng(42.921206, -70.027551),
new google.maps.LatLng(42.721520, -69.503936),
new google.maps.LatLng(42.692074, -70.474809),
new google.maps.LatLng(42.463952, -69.167123),
new google.maps.LatLng(44.148517, -70.130095),
new google.maps.LatLng(44.664399, -70.814187),
new google.maps.LatLng(44.632812, -68.469628),
new google.maps.LatLng(43.815982, -70.073820),
new google.maps.LatLng(43.453477, -70.081768),
new google.maps.LatLng(42.884777, -69.580767),
new google.maps.LatLng(45.705212, -67.338463),
new google.maps.LatLng(42.360081, -71.058884),
new google.maps.LatLng(42.366198, -71.056840),
new google.maps.LatLng(42.364608, -71.042588),
new google.maps.LatLng(42.362408, -71.055148),
new google.maps.LatLng(42.383674, -71.056116),
new google.maps.LatLng(42.377630, -71.036481),
new google.maps.LatLng(42.366305, -71.037726),
new google.maps.LatLng(42.376720, -71.004306),
new google.maps.LatLng(42.390766, -70.983144),
new google.maps.LatLng(42.401128, -71.045844),
new google.maps.LatLng(42.364384, -70.978072),
new google.maps.LatLng(42.464482, -70.950773),
new google.maps.LatLng(42.403375, -71.029528),
new google.maps.LatLng(42.442448, -70.968914),
new google.maps.LatLng(42.429502, -71.052421),
new google.maps.LatLng(42.455871, -71.010280),
new google.maps.LatLng(42.447879, -71.052176),
new google.maps.LatLng(42.508638, -70.985061),
new google.maps.LatLng(42.409197, -70.985441),
new google.maps.LatLng(42.395473, -71.043404),
];

var Path = new google.maps.Polyline({
clickable: false,
geodesic: true,
path: PolylineCoordinates,
strokeColor: "#4dcbcc",
strokeOpacity: 1.000000,
strokeWeight: 3
});

Path.setMap(map);


	}
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
	<div id="map_canvas" style="width: 100%; height: 100%;"></div>
</body>
</html>
