<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Google Maps - pygmaps </title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false&key=AIzaSyBxhQschyIWYAi9Yu3_vW-Wwb2YgK3dWO4"></script>
<script type="text/javascript">
	function initialize() {
		var centerlatlng = new google.maps.LatLng(42.364431, -71.031847);
		var myOptions = {
			zoom: 16,
			center: centerlatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		var latlng = new google.maps.LatLng(42.360943, -71.044195);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.368439, -71.044313);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.373437, -71.045138);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.368502, -71.044315);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.366054, -71.040875);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.361262, -71.036634);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.359986, -71.034670);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.352237, -71.033703);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.352605, -71.035851);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.352605, -71.043573);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.347681, -71.041177);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.348604, -71.043086);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.348430, -71.041948);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.357221, -71.041948);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.362058, -71.042955);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.362058, -71.045349);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.362058, -71.051422);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.369634, -71.051422);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.369103, -71.048043);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.369525, -71.053440);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.365241, -71.049954);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.364346, -71.044113);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.364068, -71.035703);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.363615, -71.028586);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.363087, -71.024001);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.365282, -71.024001);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.366848, -71.026349);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.368721, -71.027357);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.368614, -71.019710);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.367919, -71.019500);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.370247, -71.021159);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

var PolylineCoordinates = [
new google.maps.LatLng(42.360943, -71.044195),
new google.maps.LatLng(42.368439, -71.044313),
new google.maps.LatLng(42.373437, -71.045138),
new google.maps.LatLng(42.368502, -71.044315),
new google.maps.LatLng(42.366054, -71.040875),
new google.maps.LatLng(42.361262, -71.036634),
new google.maps.LatLng(42.359986, -71.034670),
new google.maps.LatLng(42.352237, -71.033703),
new google.maps.LatLng(42.352605, -71.035851),
new google.maps.LatLng(42.352605, -71.043573),
new google.maps.LatLng(42.347681, -71.041177),
new google.maps.LatLng(42.348604, -71.043086),
new google.maps.LatLng(42.348430, -71.041948),
new google.maps.LatLng(42.357221, -71.041948),
new google.maps.LatLng(42.362058, -71.042955),
new google.maps.LatLng(42.362058, -71.045349),
new google.maps.LatLng(42.362058, -71.051422),
new google.maps.LatLng(42.369634, -71.051422),
new google.maps.LatLng(42.369103, -71.048043),
new google.maps.LatLng(42.369525, -71.053440),
new google.maps.LatLng(42.365241, -71.049954),
new google.maps.LatLng(42.364346, -71.044113),
new google.maps.LatLng(42.364068, -71.035703),
new google.maps.LatLng(42.363615, -71.028586),
new google.maps.LatLng(42.363087, -71.024001),
new google.maps.LatLng(42.365282, -71.024001),
new google.maps.LatLng(42.366848, -71.026349),
new google.maps.LatLng(42.368721, -71.027357),
new google.maps.LatLng(42.368614, -71.019710),
new google.maps.LatLng(42.367919, -71.019500),
new google.maps.LatLng(42.370247, -71.021159),
];

var Path = new google.maps.Polyline({
clickable: false,
geodesic: true,
path: PolylineCoordinates,
strokeColor: "#4dcbcc",
strokeOpacity: 1.000000,
strokeWeight: 3
});

Path.setMap(map);


	}
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
	<div id="map_canvas" style="width: 100%; height: 100%;"></div>
</body>
</html>
