<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Google Maps - pygmaps </title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false&key=AIzaSyBxhQschyIWYAi9Yu3_vW-Wwb2YgK3dWO4"></script>
<script type="text/javascript">
	function initialize() {
		var centerlatlng = new google.maps.LatLng(42.360081, -71.058884);
		var myOptions = {
			zoom: 10,
			center: centerlatlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

		var latlng = new google.maps.LatLng(42.360081, -71.058884);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.360134, -71.058862);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.360178, -71.058806);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.360373, -71.058857);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.360130, -71.058563);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.360457, -71.058755);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.360655, -71.058567);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.360498, -71.058329);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.360655, -71.058174);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.360824, -71.058262);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.360544, -71.058725);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.361143, -71.058193);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.361243, -71.058867);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.360533, -71.058024);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.360148, -71.057602);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.360226, -71.057520);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.361162, -71.057760);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.361700, -71.058478);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.360770, -71.057776);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

		var latlng = new google.maps.LatLng(42.360834, -71.057473);
		var img = new google.maps.MarkerImage('/home/justinyu/miniconda3/lib/python3.7/site-packages/gmplot/markers/4DCBCC.png');
		var marker = new google.maps.Marker({
		title: "no implementation",
		icon: img,
		position: latlng
		});
		marker.setMap(map);

var PolylineCoordinates = [
new google.maps.LatLng(42.360081, -71.058884),
new google.maps.LatLng(42.360134, -71.058862),
new google.maps.LatLng(42.360178, -71.058806),
new google.maps.LatLng(42.360373, -71.058857),
new google.maps.LatLng(42.360130, -71.058563),
new google.maps.LatLng(42.360457, -71.058755),
new google.maps.LatLng(42.360655, -71.058567),
new google.maps.LatLng(42.360498, -71.058329),
new google.maps.LatLng(42.360655, -71.058174),
new google.maps.LatLng(42.360824, -71.058262),
new google.maps.LatLng(42.360544, -71.058725),
new google.maps.LatLng(42.361143, -71.058193),
new google.maps.LatLng(42.361243, -71.058867),
new google.maps.LatLng(42.360533, -71.058024),
new google.maps.LatLng(42.360148, -71.057602),
new google.maps.LatLng(42.360226, -71.057520),
new google.maps.LatLng(42.361162, -71.057760),
new google.maps.LatLng(42.361700, -71.058478),
new google.maps.LatLng(42.360770, -71.057776),
new google.maps.LatLng(42.360834, -71.057473),
];

var Path = new google.maps.Polyline({
clickable: false,
geodesic: true,
path: PolylineCoordinates,
strokeColor: "#4dcbcc",
strokeOpacity: 1.000000,
strokeWeight: 3
});

Path.setMap(map);


	}
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
	<div id="map_canvas" style="width: 100%; height: 100%;"></div>
</body>
</html>
