{% extends 'base.html' %}

{% block title %}Maps{% endblock %}

{% block main_header %}Maps{% endblock %}

{% block sidenav_maps %}<li class="active ">{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card ">
      {% for run, url in urls.items() %}
        <div class="card-header ">
          Run: {{run}}
        </div>
        <div class="card-body ">
          <iframe id="map" class="map" src="{{url}}"></iframe>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}


